.roomdetail-container {
  background-color: #ffffff;
  font-family: "Kanit", sans-serif;
  min-height: 100vh;
  padding: 1.5rem;
}

.room-card {
  background: #aedfb7;
  border: 1px solid #e6f7ea;
  border-radius: 12px;
  padding: 20px;
  max-width: 650px;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h4 {
  font-weight: bold;
  color: #000000;
  align-items: center;
  text-align: center;
}

.table {
  background: #964747;
  border-radius: 8px;
  overflow: hidden;
}

.table td {
  padding: 12px;
  vertical-align: middle;
}

/* กลุ่มปุ่ม */
.button-group {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

/* ปุ่มยกเลิก */
.btn-danger {
  min-width: 120px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background: linear-gradient(45deg, #5100ff7c, #56c1e889);
  color: #ffffff;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}
.btn-danger:hover {
  background: linear-gradient(45deg, #aadc697c, #56c1e889);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  color: #000000;
}

/* ปุ่มยืนยัน */
.btn-success {
  min-width: 120px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background: linear-gradient(45deg, #ffe100, #00ff6e);
  color: #000000;
  border: 1px solid #bfe9cc;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}
.btn-success:hover {
  background: linear-gradient(45deg, #00ff6e64, #ffe10055);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgb(0, 0, 0);
}
